aniso8601==9.0.1
apispec==4.6.0
autopep8==1.5.7
click==8.0.1
colorama==0.4.4
Flask==2.0.1
flask-apispec==0.11.0
Flask-RESTful==0.3.9
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.12.1
pycodestyle==2.7.0
pyparsing==2.4.7
python-dotenv==0.18.0
pytz==2021.1
rdflib==5.0.0
six==1.16.0
SPARQLWrapper==1.8.5
toml==0.10.2
webargs==8.0.0
Werkzeug==2.0.1
